*{
    font-family: 'Times New Roman';
}

html{
    height: 100%
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

svg{
    background-color:azure;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
}
.bar{
    background-color: #FA8072;
    border-color:	#FA8072;
    fill: #000000;
}

.bar:hover{
    fill: #FA8072
}

g{
    color: #17252A
}

#tooltip{
    margin-top: 10px;
    color: 	#FA8072;
    font-size: 28px;
}

#title{
    font-size: 30px;
    fill: #FA8072;
}
